<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img
                src="https://upload.wikimedia.org/wikipedia/commons/6/6e/UAGRM_Logo_Minimalista_Preciso.png" alt="logo"
                style="width: 40px; height: 30px"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestión de Socio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/socio_manage">Gestionar Socio</a>
                        <a class="dropdown-item" href="/sector_manage">Gestionar Sector</a>
                        <a class="dropdown-item" href="/puesto_manage">Gestionar Puesto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestión de Aporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aporte_manage">Gestionar Aporte</a>
                        <a class="dropdown-item" href="/pago_aporte_manage">Gestionar Pago Aporte</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestión de Asistencia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/asistencia_manage">Gestionar Asistencia de Socios</a>
                    </div>
                </li>
            </ul>
            <div class="my-2 my-lg-0">
                <a class="btn btn-outline-success my-2 my-sm-0" type="button" href="https://storyset.com/people">People
                    illustrations by Storyset</a>
            </div>
        </div>
    </div>
</nav>