<div class="card mx-auto bg-dark mb-3 text-light col-lg-8">
    <div class="card-header">
        Gestionar Sector
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Registrar Sector</h5>
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Descripción</span>
                        </div>
                        <input type="text" id="description" class="form-control" required minlength="4"
                            name="description" placeholder="Abarrotes" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#exampleModal2" onclick="sectorRegister()">
                        Guardar Nuevo Sector
                    </button>
                </form>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">Lista de Sectores</h5>
                <table class="table table-striped table-dark table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each sector_list}}
                        <tr>
                            <th>{{id}}</th>
                            <th>{{descripcion}}</th>
                            <td>
                                <a href="/sector_manage/{{id}}" type="button"
                                    class="btn btn-outline-warning btn-sm btn-xs"><small><span class="material-icons">
                                            edit
                                        </span></small>
                                </a>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                    data-target="#exampleModal" onclick="deleteSector({{id}})"><span
                                        class="material-icons">
                                        delete
                                    </span></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal DELETE -->
    <div class="modal fade transform-8" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Sector del Mercado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de eliminar el sector? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteSector()"
                        data-dismiss="modal">Eliminar Sector</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal CREATE -->
    <div class="modal fade transform-8" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de registrar el sector? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" onclick="confirmCreateSector()"
                        ondblclick="confirmCreateSector()" data-dismiss="modal">Registrar Sector</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        id: -1,
        description: ""
    };

    function sectorRegister() {
        data.description = document.getElementById("description").value;
        console.log(data.description);
    }

    function confirmCreateSector() {
        if (data.description != "") {
            let { description } = data;
            axios.post('/sector_manage', {
                description
            }).then(function (response) {
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al registrar el libro");
            });
        } else {
            alert("Datos obtenidos no correctos")
        }
    }

    function deleteSector(idSector) {
        data.id = idSector;
        console.log("confirm", idSector);
    }

    function confirmDeleteSector() {
        if (data.id == -1) {
            alert("i don't remove this sector");
        } else {
            axios.delete('/sector_manage/delete/' + data.id).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el sector");
            });
        }
    }
</script>