<div class="card mx-auto bg-dark mb-3 text-light col-lg-11">
    <div class="card-header">
        Gestionar Aporte
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Registrar Aporte</h5>
                <form action="/aporte_manage" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Código</span>
                        </div>
                        <input type="text" id="codigo" class="form-control" required minlength="4" name="codigo"
                            placeholder="APT-020" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Descripción</span>
                        </div>
                        <textarea id="descripcion" class="form-control" required name="descripcion"
                            placeholder="descripcion del aporte para alguna actividad" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
                        </div>
                        <input type="date" id="fecha" class="form-control" required name="fecha"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Monto (Bs.)</span>
                        </div>
                        <input type="number" id="monto" class="form-control" required name="monto" placeholder="10.50"
                            step="0.10" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <button type="submit" class="btn btn-outline-success">
                        Guardar Nuevo Aporte
                    </button>
                </form>
            </div>
            <div class="col-md-8">
                <h5 class="card-title">Lista de Aportes Guardados</h5>
                <table class="table table-striped table-dark table-responsive">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Fecha Creación</th>
                            <th>Monto Bs.</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each contribution_list}}
                        <tr>
                            <th>{{codigo}}</th>
                            <th>{{descripcion}}</th>
                            <th>{{fecha_creacion}}</th>
                            <th>{{monto}} Bs.</th>
                            <td>
                                <a href="/aporte_manage/{{codigo}}" type="button"
                                    class="btn btn-outline-warning btn-sm btn-xs"><small><span class="material-icons">
                                            edit
                                        </span></small>
                                </a>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                    data-target="#exampleModalRemove" onclick="deleteAporte('{{codigo}}')"><span
                                        class="material-icons">
                                        delete
                                    </span></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal DELETE -->
    <div class="modal fade transform-8" id="exampleModalRemove" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Aporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de eliminar el aporte? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteAporte()"
                        data-dismiss="modal">Eliminar Aporte</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal DELETE -->
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        codigo: -1,
        descripcion: "",
        fecha: "",
        monto: ""
    };

    function deleteAporte(codigoAporte) {
        data.codigo = codigoAporte;
        console.log("confirm", data.codigo);
    }

    function confirmDeleteAporte() {
        if (data.codigo == -1) {
            alert("No pude eliminar el aporte");
        } else {
            axios.delete('/aporte_manage/delete/' + data.codigo).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el sector");
            });
        }
    }
</script>