<div class="card mx-auto col-lg-6 bg-dark mb-3 text-light">
    <div class="card-header">
        Editar Aporte {{codigo}}
    </div>
    <form action="/aporte_manage/update/{{codigo}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Descripción</span>
            </div>
            <textarea id="descripcion" class="form-control" required name="descripcion"
                placeholder="descripcion del aporte para alguna actividad" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">{{descripcion}}</textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
            </div>
            <input type="date" id="fecha" class="form-control" required name="fecha" aria-label="Sizing example input"
                value="{{fecha_creacion}}" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Monto (Bs.)</span>
            </div>
            <input type="number" id="monto" class="form-control" required name="monto" placeholder="10.50" step="0.10"
                value="{{monto}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-primary">
                        Guardar Cambios
                    </button>
                </div>
                <div class="col-md-6">
                    <a href="/shop_manage" type="button" class="btn btn-outline-danger">Cancelar Cambios</a>
                </div>
            </div>
        </div>
    </form>
</div>