<div class="mx-auto col-lg-6">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/office-people-decoration-with-welcome-banner-3688633-3231463.png"
        alt="hello logo" width="500" height="500">
</div>