<div class="card mx-auto bg-dark mb-3 text-light col-lg-11">
    <div class="card-header">
        Gestionar Socio
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Registrar Nuevo Socio</h5>
                <form action="/socio_manage" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">CI</span>
                        </div>
                        <input type="number" class="form-control" required minlength="4" name="ci"
                            placeholder="3256331">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                        </div>
                        <input type="text" class="form-control" required minlength="4" name="nombre"
                            placeholder="Juancito Pinto">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                        </div>
                        <input type="number" class="form-control" required minlength="4" name="telefono"
                            placeholder="75858585">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Dirección</span>
                        </div>
                        <textarea type="number" class="form-control" required minlength="4" name="direccion"
                            placeholder="Barrio Ignacio Warnes"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Fecha Afiliación</span>
                        </div>
                        <input type="date" class="form-control" required name="fecha_afiliacion"
                            placeholder="fecha de ingreso como socio">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="estado" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Socio Activo</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Puesto a Asignar</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="nro_puesto">
                            <option value="-1">Sin Puesto</option>
                            {{#each puesto_list}}
                            <option value={{nro_puesto}}>{{nro_puesto}} - {{descripcion}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        Guardar Nuevo Socio
                    </button>
                </form>
            </div>
            <div class="col-md-8">
                <h5 class="card-title">Puestos del Mercado</h5>
                <div class="row row-cols-1 row-cols-md-2">
                    {{#each socio_list}}
                    <div class="card bg-dark border-primary col mb-2 mr-2" style="max-width: 14rem;">
                        <div class="card-header"><small>{{nombre}}</small></div>
                        <div class="card-body text-primary">
                            <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png"
                                alt="tienda-{{ci}}" height="80" width="80">
                            <p class="card-text">
                                <small>CI: {{ci}}</small></br>
                                <small>Telefono: {{telefono}}</small></br>
                                <small>Direccion: {{direccion}}</small></br>
                                <small>Fecha Afiliación: {{fecha_afiliacion}}</small></br>
                                <small>Nro Puesto: {{#if nro_puesto}} {{nro_puesto}} {{else}} No Tiene Aun
                                    {{/if}}</small></br>
                                {{#if estado}}
                                <span class="badge badge-success">Socio Activo</span>
                                {{else}}
                                <span class="badge badge-danger">Socio Pasivo</span>
                                {{/if}}
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-primary">
                            <a href="/socio_manage/{{ci}}" type="button" class="btn btn-outline-warning btn-sm btn-xs"
                                title="editar puesto">
                                <small>
                                    <span class="material-icons">
                                        edit
                                    </span>
                                </small>
                            </a>
                            <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal" onclick="deleteAssociate({{ci}})" title="eliminar puesto">
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                            {{#if estado}}
                            <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModalPermit" onclick="permitAssociate({{ci}})"
                                title="inhabilitar puesto">
                                <span class="material-icons">
                                    lock
                                </span>
                            </button>
                            {{else}}
                            <button class="btn btn-outline-success btn-sm" data-toggle="modal"
                                data-target="#exampleModalPermit" onclick="permitAssociate({{ci}})"
                                title="habilitar puesto">
                                <span class="material-icons">
                                    lock_open
                                </span>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal DELETE -->
    <div class="modal fade transform-8" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Socio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de eliminar al Socio? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteAssociate()"
                        data-dismiss="modal">Eliminar Socio</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal DELETE -->
    <!-- Modal PERMIT -->
    <div class="modal fade transform-8" id="exampleModalPermit" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambio de Estado del Socio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br id="recipient-name">Esta seguro de cambiar el estado del socio? </br>
                    Activo a Pasivo ó Pasivo a Activo
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" onclick="confirmPermitAssociate()"
                        data-dismiss="modal">Modificar Estado</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal PERMIT -->
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        ci_socio: -1
    };

    function deleteAssociate(ciSocio) {
        data.ci_socio = ciSocio;
        console.log("confirm", data.ci_socio);
    }

    function confirmDeleteAssociate() {
        if (data.ci_socio == -1) {
            alert("i can't remove shop", data.ci_socio);
        } else {
            axios.delete(`/socio_manage/delete/${data.ci_socio}`).then(function (response) {
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el socio");
            });
        }
    }

    function permitAssociate(ciSocio) {
        data.ci_socio = ciSocio;
        console.log("confirm permit", ciSocio);
    }

    function confirmPermitAssociate() {
        if (data.ci_socio == -1) {
            alert("i can't enable or disable shop", data.ci_socio);
        } else {
            var url = `/socio_manage/permit/${data.ci_socio}`;
            console.log(url);
            axios.put(url).then(function (response) {
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el socio");
            });
        }
    }
</script>