<div class="card mx-auto col-lg-6 bg-dark mb-3 text-light">
    <div class="card-header">
        Editar Socio {{socio_data.nombre}}
    </div>
    <form action="/socio_manage/update/{{socio_data.ci}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
            </div>
            <input type="text" class="form-control" required minlength="4" name="nombre" placeholder="Juancito Pinto"
                value="{{socio_data.nombre}}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
            </div>
            <input type="number" class="form-control" required minlength="4" name="telefono" placeholder="75858585"
                value="{{socio_data.telefono}}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Dirección</span>
            </div>
            <textarea type="number" class="form-control" required minlength="4" name="direccion"
                placeholder="Barrio Ignacio Warnes">{{socio_data.direccion}}</textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Fecha Afiliación</span>
            </div>
            <input type="date" class="form-control" required name="fecha_afiliacion"
                placeholder="fecha de ingreso como socio" value="{{socio_data.fecha_afiliacion}}">
        </div>
        <div class="input-group mb-3">
            <div class="custom-control custom-switch">
                {{#if socio_data.estado}}
                <input type="checkbox" name="estado" class="custom-control-input" id="customSwitch1" checked>
                {{else}}
                <input type="checkbox" name="estado" class="custom-control-input" id="customSwitch1">
                {{/if}}
                <label class="custom-control-label" for="customSwitch1">Socio Activo</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Puesto Nro.
                    {{socio_data.nro_puesto}}</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="nro_puesto">
                <option value="-1">Sin Puesto</option>
                {{#each puesto_list}}
                <option value={{nro_puesto}}>{{nro_puesto}} - {{descripcion}}</option>
                {{/each}}
            </select>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-primary">
                        Guardar Cambios
                    </button>
                </div>
                <div class="col-md-6">
                    <a href="/puesto_manage" type="button" class="btn btn-outline-danger">Cancelar Cambios</a>
                </div>
            </div>
        </div>
    </form>
</div>