<div class="card mx-auto bg-dark text-light col-lg-10">
    <div class="card-header">
        <h4>Editar Asistencia</h4>
    </div>
    <form action="/asistencia_manage/update/{{asistencia_data.codigo}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="input-group mb-3 col-md-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Descripción</span>
                        </div>
                        <input type="text" id="descripcion" class="form-control" required minlength="4"
                            name="descripcion" placeholder="Razón de la asistencia" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" value="{{asistencia_data.descripcion}}">
                    </div>
                    <div class="input-group mb-3 col-md-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Fecha
                                Realización</span>
                        </div>
                        <input type="date" id="fecha_realizado" class="form-control" required name="fecha_realizado"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                            value="{{asistencia_data.fecha_realizado}}">
                    </div>
                </div>
                <div class="accordion" id="accordionExampleAssociates">
                    <div class="card bg-dark text-light">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block btn-outline-primary text-center text-light" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo">
                                    Lista de Socios
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordionExampleAssociates">
                            <div class="card-body">
                                <ul class="list-group">
                                    {{#each list_socio}}
                                    <li class="list-group-item list-group-item-dark">
                                        <input class="form-check-input" type="checkbox" value="{{ci}}" name="socio"
                                            id="defaultCheck1{{ci}}" {{#if verify_asistencia}} checked {{/if}}>
                                        <label class="form-check-label" for="defaultCheck1{{ci}}">
                                            <span class="material-icons">
                                                <small>account_box</small>
                                            </span>
                                            {{nombre}}
                                        </label>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-block btn-success">
                        Guardar Cambios
                    </button>
                </div>
                <div class="col-md-6">
                    <a href="/asistencia_manage" type="button" class="btn btn-block btn-danger">Cancelar Cambios</a>
                </div>
            </div>
        </div>
    </form>
</div>