<div class="accordion" id="accordionExample">
    <div class="card mx-auto bg-dark text-light col-lg-10">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Gestionar Asistencia
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <form action="/asistencia_manage" method="post">
                        <h5 class="card-title">Crear Nueva Asistencia</h5>
                        <div class="row">
                            <div class="input-group mb-3 col-md-7">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Descripción</span>
                                </div>
                                <input type="text" id="descripcion" class="form-control" required minlength="4"
                                    name="descripcion" placeholder="Razón de la asistencia"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3 col-md-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Fecha
                                        Realización</span>
                                </div>
                                <input type="date" id="fecha_realizado" class="form-control" required
                                    name="fecha_realizado" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="accordion" id="accordionExampleAssociates">
                            <div class="card bg-dark text-light">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block btn-primary text-center text-light" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                            aria-controls="collapseTwo">
                                            Lista de Socios
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExampleAssociates">
                                    <div class="card-body">
                                        <ul class="list-group">
                                            {{#each list_associates}}
                                            <li class="list-group-item list-group-item-dark">
                                                <input class="form-check-input" type="checkbox" value="{{ci}}"
                                                    name="socio" id="defaultCheck1{{ci}}">
                                                <label class="form-check-label" for="defaultCheck1{{ci}}">
                                                    <span class="material-icons">
                                                        <small>account_box</small>
                                                    </span>
                                                    {{nombre}} -
                                                    {{#if nro_puesto}}
                                                    <b>Puesto #{{nro_puesto}}</b>
                                                    {{else}}
                                                    <b>Sin Puesto Asignado</b>
                                                    {{/if}}
                                                </label>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success">
                            Guardar Asistencia
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Accordion #2 -->
    <div class="card mx-auto bg-dark text-light col-lg-10">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Lista Asistencias
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row mx-auto">
                    <table class="table table-dark table-responsive">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción de la Asistencia</th>
                                <th>Fecha de Realizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each list_attendance}}
                            <tr>
                                <th>{{codigo}}</th>
                                <th>{{descripcion}}</th>
                                <th>{{fecha_realizado}}</th>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-sm btn-xs" data-toggle="modal"
                                        data-target="#exampleModalAdd">
                                        <span class="material-icons" onclick="viewDetailAsistencia({{codigo}})">
                                            <small>feed</small>
                                        </span>
                                    </button>
                                    <a type="button" class="btn btn-outline-warning btn-sm btn-xs"
                                        href="/asistencia_manage/{{codigo}}">
                                        <span class="material-icons">
                                            <small>edit</small>
                                        </span>
                                    </a>
                                    <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                        data-target="#exampleModalRemove" onclick="deleteAsistencia('{{codigo}}')"><span
                                            class="material-icons">
                                            <small>delete</small>
                                        </span></button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Accordion #2 -->
    <!-- Modal CREATE -->
    <div class="modal fade transform-8" id="exampleModalAdd" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asistentes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="list-attendance">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal CREATE -->
    <!-- Modal DELETE -->
    <div class="modal fade transform-8" id="exampleModalRemove" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Asistencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de eliminar la asistencia seleccionada? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteAsistencia()"
                        data-dismiss="modal">Eliminar Asistencia</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal DELETE -->
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        codigo: -1,
        list_asistencia: []
    };

    function viewDetailAsistencia(codigo) {
        data.codigo = codigo;
        var list = document.getElementById("list-attendance");
        //Mostramos el número de hijos
        console.log(list.children.length);
        if (list.children.length > 0) {
            //Asignamos a variable item el elemento con id ='item2'de la lista
            var size = list.children.length;
            for (var i = 1; i <= size; i++) {
                var item = list.querySelector('#name-associate');
                list.removeChild(item);
            }
        }
        axios.get('/asistencia_manage/detail/' + data.codigo).then(function (response) {
            console.log(response.data.list_asistencia);
            data.list_asistencia = response.data.list_asistencia;
            var list = document.getElementById("list-attendance");
            if (data.list_asistencia.length == 0) {
                var li = document.createElement("li");
                li.className = "list-group-item list-group-item-dark";
                li.id = "name-associate";
                li.textContent = "No hay Asistentes";
                list.appendChild(li);
                return;
            }
            for (var i = 0; i < data.list_asistencia.length; i++) {
                var li = document.createElement("li");
                li.className = "list-group-item list-group-item-dark";
                li.id = "name-associate";
                li.textContent = data.list_asistencia[i].nombre
                list.appendChild(li);
            }
        }).catch(function (error) {
            console.log(error);
            alert("Hubo un error al obtener los detalles de la asistencia: " + codigo);
        });
    }

    function eliminarSocioList(ci) {
        if (data.codigo == -1 || !ci) {
            alert("No pude eliminar al socio de la asistencia, vuelva a cargar la página");
        } else {
            axios.delete('/aporte_manage/delete/' + data.codigo).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el sector");
            });
        }
    }

    function deleteAsistencia(codigoAporte) {
        data.codigo = codigoAporte;
        console.log("confirm", data.codigo);
    }

    function confirmDeleteAsistencia() {
        if (data.codigo == -1) {
            alert("No pude eliminar el aporte");
        } else {
            axios.delete('/asistencia_manage/delete/' + data.codigo).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el sector");
            });
        }
    }
</script>