<div class="accordion" id="accordionExample">
    <div class="card mx-auto bg-dark text-light col-lg-11">
        <div class="card-header">
            <h2 class="mb-0">
                Editar Pago Aporte
            </h2>
        </div>
        <div class="card-body">
            <div class="container">
                <h5 class="card-title">Pago Aporte {{pago_aporte_data.nro_pago}}</h5>
                <input type="hidden" id="nro_pago" value="{{pago_aporte_data.nro_pago}}">
                <div class="row">
                    <div class="input-group mb-3 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Monto Total</span>
                        </div>
                        <input type="text" id="monto" class="form-control" required name="monto" placeholder="25 Bs."
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                            value="{{pago_aporte_data.total_monto}}">
                    </div>
                    <div class="input-group mb-3 col-md-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Fecha Pago</span>
                        </div>
                        <input type="date" id="fecha_pago" class="form-control" required name="fecha_pago"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                            value="{{pago_aporte_data.fecha_pago}}">
                    </div>
                    <div class="input-group mb-3 col-md-5">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect02">Socio:
                                {{pago_aporte_data.nombre}}</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect02" name="ci_socio">
                            {{#each list_socio}}
                            <option value={{ci}}>{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="accordion" id="accordionExampleAssociates">
                    <div class="card bg-dark text-light">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block btn-primary text-center text-light" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo">
                                    Detalle de pago
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordionExampleAssociates">
                            <div class="card-body">
                                <div class="row">
                                    <div class="input-group mb-3 col-md-7">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Aporte</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01" name="cod_aporte">
                                            {{#each list_aporte}}
                                            <option value={{codigo}}>{{descripcion}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="input-group mb-3 col-md-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Monto</span>
                                        </div>
                                        <input type="number" id="monto_aporte" class="form-control" required
                                            name="monto_aporte" aria-label="Sizing example input" placeholder="100.00"
                                            aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <div class="input-group mb-3 col-md-2">
                                        <button class="btn btn-primary btn-block btn-sm btn-xs p-2"
                                            onclick="add_aport();">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                                <ul class="list-group" id="list-group">
                                    {{#each list_detail_pago_aporte}}
                                    <li class="list-group-item list-group-item-dark" id="{{codigo}}">
                                        {{descripcion}} - {{monto}}
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-xs">
                                            delete
                                        </button>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-block btn-success" onclick="modificar()">
                        Guardar Cambios
                    </button>
                </div>
                <div class="col-md-6">
                    <a href="/pago_aporte_manage" type="button" class="btn btn-block btn-danger">Cancelar Cambios</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        monto_total: 0.00,
        fecha: "",
        list_aport: [],
        nro: -1,
        switch: false
    };

    function add_aport() {
        var selectAportOptions = document.getElementById("inputGroupSelect01");
        var monto = document.getElementById("monto_aporte");
        var list = document.getElementById("list-group");
        if (!data.switch) {
            for (var i = 0; i < list.childElementCount; i++) {
                var cod_aport = list.children[i].id;
                var monto_aport = parseInt(list.children[i].textContent.substring(list.children[i].textContent.indexOf('- ') + 2, list.children[i].textContent.indexOf('- ') + 7)).toString();
                data.list_aport.push({
                    cod_aport,
                    monto: monto_aport
                });
                console.log({
                    cod_aport,
                    monto: monto_aport
                });
            }
            data.switch = true;
        }
        data.list_aport.push({
            cod_aport: selectAportOptions.value,
            monto: monto.value
        });
        console.log({
            cod_aport: selectAportOptions.value,
            monto: monto.value
        });
        var li = document.createElement("li");
        li.className = "list-group-item list-group-item-dark";
        li.id = selectAportOptions.value;
        li.textContent = selectAportOptions.options[selectAportOptions.selectedIndex].text + " - " + monto.value;
        var button = document.createElement('button');
        button.type = 'button';
        button.className = "btn btn-outline-danger btn-sm btn-xs";
        button.addEventListener('click', function () {
            remove(li.id);
        }, false);
        button.innerText = 'delete';
        li.appendChild(button);
        list.appendChild(li);
    }

    function remove(idRemove) {
        console.log("removing" + idRemove);
        for (var i = 0; i < data.list_aport.length; i++) {
            if (data.list_aport[i].cod_aport == idRemove) {
                data.list_aport.splice(i, 1);
            }
        }
        console.log(data.list_aport);
        var list = document.getElementById("list-group");
        var item = list.querySelector('#' + idRemove);
        list.removeChild(item);
    }

    function modificar() {
        var montoTotal = document.getElementById("monto").value;
        var fechaPago = document.getElementById("fecha_pago").value;
        var nroPago = document.getElementById("nro_pago").value;
        var selectSocioOptions = document.getElementById("inputGroupSelect02");
        console.log(selectSocioOptions.value, montoTotal, fechaPago, nroPago);
        axios.put('/pago_aporte_manage/update/' + nroPago, {
            monto_total: montoTotal,
            fecha_pago: fechaPago,
            ci_socio: selectSocioOptions.value,
            list_detail_aport: data.list_aport
        }).then(function (response) {
            console.log(response.data);
            window.history.back();
        }).catch(function (error) {
            console.log(error);
            alert("Hubo un error al guarda el pago aporte, intente de nuevo");
        });
    }
</script>