<div class="accordion" id="accordionExample">
    <div class="card mx-auto bg-dark text-light col-lg-11">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Gestionar Pago Aporte
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">Crear Nuevo Pago Aporte</h5>
                    <div class="row">
                        <div class="input-group mb-3 col-md-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Monto Total</span>
                            </div>
                            <input type="text" id="monto" class="form-control" required name="monto"
                                placeholder="25 Bs." aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3 col-md-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Fecha Pago</span>
                            </div>
                            <input type="date" id="fecha_pago" class="form-control" required name="fecha_pago"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3 col-md-5">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect02">Socio</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect02" name="ci_socio">
                                {{#each list_socio}}
                                <option value={{ci}}>{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="accordion" id="accordionExampleAssociates">
                        <div class="card bg-dark text-light">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-block btn-primary text-center text-light" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo">
                                        Detalle de pago
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                data-parent="#accordionExampleAssociates">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="input-group mb-3 col-md-7">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Aporte</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01" name="cod_aporte">
                                                {{#each list_aporte}}
                                                <option value={{codigo}}>{{descripcion}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="input-group mb-3 col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">Monto</span>
                                            </div>
                                            <input type="number" id="monto_aporte" class="form-control" required
                                                name="monto_aporte" aria-label="Sizing example input"
                                                placeholder="100.00" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3 col-md-2">
                                            <button class="btn btn-primary btn-block btn-sm btn-xs p-2"
                                                onclick="add_aport();">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <ul class="list-group" id="list-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-block btn-success" onclick="guardar()">
                        Guardar Pago Aporte
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Accordion #2 -->
    <div class="card mx-auto bg-dark text-light col-lg-11">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Lista Pago Aporte
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row mx-auto">
                    <table class="table table-dark table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>total Monto</th>
                                <th>Fecha de Pago</th>
                                <th>Socio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each list_pago_aporte}}
                            <tr>
                                <th>{{nro_pago}}</th>
                                <th>{{total_monto}}</th>
                                <th>{{fecha_pago}}</th>
                                <th>{{nombre}}</th>
                                <td>
                                    <a type="button" class="btn btn-outline-warning btn-sm btn-xs"
                                        href="/pago_aporte_manage/{{nro_pago}}">
                                        <span class="material-icons">
                                            <small>edit</small>
                                        </span>
                                    </a>
                                    <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                        data-target="#exampleModalRemove"
                                        onclick="deletePagoAporte('{{nro_pago}}')"><span class="material-icons">
                                            <small>delete</small>
                                        </span></button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Accordion #2 -->
    <!-- Modal CREATE -->
    <div class="modal fade transform-8" id="exampleModalAdd" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asistentes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="list-attendance">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal CREATE -->
    <!-- Modal DELETE -->
    <div class="modal fade transform-8" id="exampleModalRemove" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Pago Aporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de eliminar el pago aporte seleccionada? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeletePagoAporte()"
                        data-dismiss="modal">Eliminar Pago Aporte</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal DELETE -->
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        monto_total: 0.00,
        fecha: "",
        list_aport: [],
        nro: -1
    };

    function add_aport() {
        var selectAportOptions = document.getElementById("inputGroupSelect01");
        var monto = document.getElementById("monto_aporte");
        data.list_aport.push({
            cod_aport: selectAportOptions.value,
            monto: monto.value
        });
        console.log({
            cod_aport: selectAportOptions.value,
            monto: monto.value
        });
        var list = document.getElementById("list-group");
        var li = document.createElement("li");
        li.className = "list-group-item list-group-item-dark";
        li.id = selectAportOptions.value;
        li.textContent = selectAportOptions.options[selectAportOptions.selectedIndex].text;
        const button = document.createElement('button');
        button.type = 'button';
        button.className = "btn btn-outline-danger btn-sm btn-xs";
        button.addEventListener('click', function () {
            remove(li.id);
        }, false);
        button.innerText = 'delete';
        li.appendChild(button);
        list.appendChild(li);
    }

    function remove(idRemove) {
        console.log("removing" + idRemove);
        for (var i = 0; i < data.list_aport.length; i++) {
            if (data.list_aport[i].cod_aport == idRemove) {
                data.list_aport.splice(i, 1);
            }
        }
        console.log(data.list_aport);
        var list = document.getElementById("list-group");
        var item = list.querySelector('#' + idRemove);
        list.removeChild(item);
    }

    function guardar() {
        var montoTotal = document.getElementById("monto").value;
        var fechaPago = document.getElementById("fecha_pago").value;
        var selectSocioOptions = document.getElementById("inputGroupSelect02");
        console.log(selectSocioOptions.value, montoTotal, fechaPago);
        axios.post('/pago_aporte_manage', {
            monto_total: montoTotal,
            fecha_pago: fechaPago,
            ci_socio: selectSocioOptions.value,
            list_detail_aport: data.list_aport
        }).then(function (response) {
            console.log(response.data);
            window.location.reload();
        }).catch(function (error) {
            console.log(error);
            alert("Hubo un error al guarda el pago aporte, intente de nuevo");
        });
    }

    function viewDetailAsistencia(codigo) {
        data.codigo = codigo;
        var list = document.getElementById("list-group");
        //Mostramos el número de hijos
        console.log(list.children.length);
        if (list.children.length > 0) {
            //Asignamos a variable item el elemento con id ='item2'de la lista
            var size = list.children.length;
            for (var i = 1; i <= size; i++) {
                var item = list.querySelector('#name-associate');
                list.removeChild(item);
            }
        }
        axios.get('/asistencia_manage/detail/' + data.codigo).then(function (response) {
            console.log(response.data.list_asistencia);
            data.list_asistencia = response.data.list_asistencia;
            var list = document.getElementById("list-attendance");
            if (data.list_asistencia.length == 0) {
                var li = document.createElement("li");
                li.className = "list-group-item list-group-item-dark";
                li.id = "name-associate";
                li.textContent = "No hay Asistentes";
                list.appendChild(li);
                return;
            }
            for (var i = 0; i < data.list_asistencia.length; i++) {
                var li = document.createElement("li");
                li.className = "list-group-item list-group-item-dark";
                li.id = "name-associate";
                li.textContent = data.list_asistencia[i].nombre
                list.appendChild(li);
            }
        }).catch(function (error) {
            console.log(error);
            alert("Hubo un error al obtener los detalles de la asistencia: " + codigo);
        });
    }

    function deletePagoAporte(codigoAporte) {
        data.nro = codigoAporte;
        console.log("confirm", data.nro);
    }

    function confirmDeletePagoAporte() {
        if (data.nro == -1) {
            alert("No pude eliminar el pago aporte");
        } else {
            axios.delete('/pago_aporte_manage/delete/' + data.nro).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el pago aporte");
            });
        }
    }
</script>