<div class="card mx-auto bg-dark mb-3 text-light col-lg-11">
    <div class="card-header">
        Gestionar Puesto
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Registrar Nuevo Puesto</h5>
                <form action="/puesto_manage" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nro Puesto</span>
                        </div>
                        <input type="number" class="form-control" required minlength="4" name="nro_puesto"
                            placeholder="123">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="estado" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Puesto Habilitado</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Sector</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="id_sector">
                            {{#each sector_list}}
                            <option value={{id}}>{{descripcion}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        Guardar Nuevo Puesto
                    </button>
                </form>
            </div>
            <div class="col-md-8">
                <h5 class="card-title">Puestos del Mercado</h5>
                <div class="row row-cols-1 row-cols-md-2">
                    {{#each shop_list}}
                    <div class="card bg-dark border-primary col mb-2 mr-2" style="max-width: 14rem;">
                        <div class="card-header">Puesto Nro {{nro_puesto}}</div>
                        <div class="card-body text-primary">
                            <img src="https://magicoregalos.com/wp-content/uploads/2020/10/logo-tienda.png"
                                alt="tienda-{{nro_puesto}}" height="80" width="80">
                            <p class="card-text"><small>Sector: {{descripcion}}</small></br>
                                {{#if estado}}
                                <span class="badge badge-success">Puesto Habilitado</span>
                                {{else}}
                                <span class="badge badge-danger">Puesto Inhabilitado</span>
                                {{/if}}
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-primary">
                            <a href="/puesto_manage/{{nro_puesto}}" type="button"
                                class="btn btn-outline-warning btn-sm btn-xs" title="editar puesto">
                                <small>
                                    <span class="material-icons">
                                        edit
                                    </span>
                                </small>
                            </a>
                            <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal" onclick="deleteShop({{nro_puesto}})"
                                title="eliminar puesto">
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                            {{#if estado}}
                            <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModalPermit" onclick="permitShop({{nro_puesto}})"
                                title="inhabilitar puesto">
                                <span class="material-icons">
                                    lock
                                </span>
                            </button>
                            {{else}}
                            <button class="btn btn-outline-success btn-sm" data-toggle="modal"
                                data-target="#exampleModalPermit" onclick="permitShop({{nro_puesto}})"
                                title="habilitar puesto">
                                <span class="material-icons">
                                    lock_open
                                </span>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal DELETE -->
    <div class="modal fade transform-8" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Puesto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de eliminar el puesto? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteShop()"
                        data-dismiss="modal">Eliminar Puesto</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal DELETE -->
    <!-- Modal PERMIT -->
    <div class="modal fade transform-8" id="exampleModalPermit" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Habilitacion o Inhabilitacion de Puesto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="recipient-name">Esta seguro de cambiar el estado del puesto? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" onclick="confirmPermitShop()"
                        data-dismiss="modal">Modificar Estado</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Modal PERMIT -->
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // general data
    var data = {
        shop_no: -1,
        status: "",
        id_sector: -1,
        description: ""
    };

    function deleteShop(shopNo) {
        data.shop_no = shopNo;
        console.log("confirm", shopNo);
    }

    function confirmDeleteShop() {
        if (data.shop_no == -1) {
            alert("i can't remove shop", data.shop_no);
        } else {
            axios.delete('/puesto_manage/delete/' + data.shop_no).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el sector");
            });
        }
    }

    function permitShop(shopNo) {
        data.shop_no = shopNo;
        console.log("confirm permit", shopNo);
    }

    function confirmPermitShop() {
        if (data.shop_no == -1) {
            alert("i can't enable or disable shop", data.shop_no);
        } else {
            axios.put('/puesto_manage/permit/' + data.shop_no).then(function (response) {
                //document.getElementById(data.id).remove();
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar el sector");
            });
        }
    }
</script>