<div class="card mx-auto col-lg-6 bg-dark mb-3 text-light">
    <div class="card-header">
        Editar Puesto {{shop_data.nro_puesto}}
    </div>
    <form action="/puesto_manage/update/{{shop_data.nro_puesto}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Nro Puesto</span>
            </div>
            <input type="number" class="form-control" required minlength="4" name="nro_puesto" placeholder="123"
                value={{shop_data.nro_puesto}}>
        </div>
        <div class="input-group mb-3">
            <div class="custom-control custom-switch">
                {{#if shop_data.estado}}
                <input type="checkbox" name="estado" class="custom-control-input" id="customSwitch1" checked>
                {{else}}
                <input type="checkbox" name="estado" class="custom-control-input" id="customSwitch1">
                {{/if}}
                <label class="custom-control-label" for="customSwitch1">Puesto Habilitado</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Sector</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="id_sector">
                {{#each sector_list}}
                <option value={{id}}>{{descripcion}}</option>
                {{/each}}
            </select>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-primary">
                        Guardar Cambios
                    </button>
                </div>
                <div class="col-md-6">
                    <a href="/puesto_manage" type="button" class="btn btn-outline-danger">Cancelar Cambios</a>
                </div>
            </div>
        </div>
    </form>
</div>